<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>TodoList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>	
</head>
<body>
	<h1>TodoList</h1>
	<ol>
		<li th:each="todo: ${todoList}" th:text="${todo.title}"/>
	</ol>
</body>
</html>